html {
  font-size: 12px;
}
#title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  font-family: 'IM Fell French Canon SC', serif;
  color: #454140;
}

#name {
  line-height: 0.5;
  font-size: 20px;
}
@media (max-width: 460px) {
  #name {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.3;
  background: #2B4570;
  margin: 0;
}

a {
  color: #E49273;
}

a:visited {
  color: #A37A74;
}

main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 20px;
  background: #A8D0DB;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  padding-top: 25px;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 15%;
}

#img-div {
  padding: 10px;
  margin: 0 25em;
  border-radius: 25%
}

#img-caption {
  margin: 0px 0 5px 150px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 15px;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

#tribute-info {
  background: #A5C4D4;
  border-radius: 5%;
  padding: 0.5%;
}